.containerOpenModal {
  width: 100%;
  height: 440vh;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}
@media screen and (max-width: 750px) {
  .containerOpenModal {
    top: 0;
    height: 310vh;
  }
}
/* @media screen  and (max-width: 900px){ 
  .containerOpenModal{
    top: 0;
    height: 710vh;
  }
} */

.portafolioImg {
  width: 100%;
  height: 400px;
  margin: 1rem;
  position: relative;
  animation-name: appear;
  -webkit-animation-name: appear;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .portafolioImg {
    flex-direction: column;
  }
}

.hidden {
  display: none;
}

.modal {
  margin: 0px auto;
  width: 800px;
  height: 400px;
  background-color: #ffffff;
  animation-name: example;
  animation-duration: 0.9s;
  /* transition:     transform 8s; */
  animation-fill-mode: forwards;
  position: relative;
  top: 65%;
  box-shadow: 1px 3px 41px 9px rgba(3, 2, 2, 0.58);
  -webkit-box-shadow: 1px 3px 41px 9px rgba(3, 2, 2, 0.58);
  -moz-box-shadow: 1px 3px 41px 9px rgba(3, 2, 2, 0.58);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@keyframes example {
  from {
    width: 30%;
  }
  to {
    width: 70%;
  }
}

.containerOpenModal {
  width: 100%;
}
/* move screen opacity of the modal */
@media screen and (max-width: 550px) {
  .modal {
    width: 100%;
    top: 72%;
    height: 400px;
    align-items: flex-start;
  }
}
@media screen  and (max-width: 900px){ 
  .modal{
    width: 100%;
    top: 70%;
    height: 400px;
  }
}

.parttwo {
  width: 40%;
  margin-left: 3rem;
}
@media screen and (max-width: 550px) {
  .parttwo {
    margin-left: 0rem;
    top:100%;
    width: 100%;
    overflow: auto;  }
}
.parttwo > h2 {
  color: rgb(100, 99, 99);
}
.parttwo > p {
  color: rgb(100, 99, 99);
}

.parttwo > a {
  color: rgb(100, 99, 99);
}

.enlace {
  color: white;
}
.divText {
  width: 7rem;
  position: relative;
  border-radius: 8px;
  margin-top: 1rem;
  text-align: center;
  background-color: rgb(100, 99, 99);
  cursor: pointer;
}
.divText:hover {
  background-color: rgb(103, 161, 108);
}
