.container{
    max-width: 100%;
    position: relative;
    margin-top: 1rem;

}
@media screen  and (max-width: 550px){ 
    .container{
padding: 0;
padding-top: 1rem;

    }
  }
.text{
    font-family: "Poppins";
}

.smokeContainer{
position: absolute; 
bottom: 30vh; 
right: 4.7vw;

}
@media screen  and (max-width: 1050px){ 
  .smokeContainer{
      top: 44vh;
      right: 4.5vw;
  }
}

@media screen  and (max-width: 550px){ 
    .smokeContainer{
        top: 15vh;
        right: 4.8vw;
    }
  }
  @media screen  and (max-width: 300px){ 
    .smokeContainer{
       display: none;
    }
  }

.smoke1 , .smoke2{
    animation-fill-mode: forwards;
    animation-name: smoke;
    animation-duration: 6s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    position: relative;
    top:50px;
    opacity: 0;
    /* background-color: gainsboro; */
  }
  .smoke2{
    top:10px;
    animation-delay: 3s;
  }

  @keyframes smoke {
    0% {

      transform:  scale(0) translate(0px, 0px) ;
      opacity: 1;		
    }
    25% {
      transform: scale(0.3) translate(0px, -10px) ;	
    }
    50% {
      transform:  scale(0.5) translate(0px, -20px) ;
      opacity: 1;	
    }	

    70% {
      transform: scale(0.85) translate(0px, -30px) ;	
    }
    85% {
      transform:  scale(1.2) translate(0px, -40px) ;
      opacity: 1;	
    }	

    100% {
      transform:   scale(1.9) translate(0px, -50px) ;
      opacity: 0;	
    }		
  }


  @-webkit-keyframes smoke{
    0% {

      -webkit-transform:  scale(0) translate(0px, 0px) ;
      opacity: 1;		
    }
    25% {
      -webkit-transform: scale(0.3) translate(0px, -10px) ;	
    }
    50% {
      -webkit-transform:  scale(0.5) translate(0px, -20px) ;
      opacity: 1;	
    }	

    70% {
      -webkit-transform: scale(0.55) translate(0px, -30px) ;	
    }
    85% {
      -webkit-transform:  scale(1.2) translate(0px, -40px) ;
      opacity: 1;	
    }	

    100% {
      -webkit-transform:   scale(1.9) translate(0px, -50px) ;
      opacity: 0;	
    }	
  }

  .imageWrapper{
    width: 60%;
    height: 90vh;
    margin: 0px auto;
    position: relative;

  }
  @media screen  and (max-width: 550px){ 
    .imageWrapper{
      width: 90%;
      height: 35vh;

    }
  }
  .divClon{
    width: 60%;
    height: 90vh;
    top:0px;
    margin-left: 19.7vw;
    /* margin-right: 15vw; */
    position: absolute;
  }
  @media screen  and (max-width: 550px){ 
    .divClon{
      width: 90%;
      height: 35vh;
      margin-left: 4.7vw;
      top:1.7vh;



    }
  }