.container {
  width: 100%;
  height: auto;
  margin-top:-15.5rem;
}
@media screen and (max-width: 550px) {
  .container {
    margin-top:-25.5rem;
  }
}

.containerP4 {
  max-width: 100%;
  height: auto;
  background-color: rgb(240, 238, 238);
}

.portafolioImg {
  animation-name: appear;
  -webkit-animation-name: appear;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

/* 
  .modal:hover {
    transform: scale(1.5,1.5);
  } */

.part4 {
  /* background-image: url("../imag/wd2.svg"); */
  height: 10px;
  background-size: contain;
  position: relative;
  top: -12rem;
}
@media screen and (max-width: 550px) {
  .part4 {
    top: -4rem;

  }
}


.divFlex {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  height: 450px;
}
@media screen and (max-width: 550px) {
  .divFlex {
    padding: 1rem;
    height: 150px;

  }
}
.containerP4 >h2 {
  color:#358b47;
  padding-left: 5rem;
}

.textTitle{
  padding-top: 1rem;

}
@media screen and (max-width: 550px) {
  .textTitle {
    margin-left: -3.5rem;

  }
}