.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* mobile */
@media screen and (max-width: 550px) {
  .container {
    margin-right: 1rem;
  }
}

.part1 {
  width: 60%;
}
.part1 > h2 {
  color: #358b47;
  margin-left: 5rem;
}

/* mobile */
@media screen and (max-width: 550px) {
  .part1 > h2 {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
}

.divFlex {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;

  width: 80%;
}
@media screen and (max-width: 550px) {
  .divFlex {
    margin-left: 1.0rem;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-row-gap: 10px;

  }
}
.childrenDiv {
  margin: 2rem;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 550px) {
  .childrenDiv {
    margin: 0rem;
    margin-left: -0.0rem;
  }
}

.text{
  color: #2c753c;
  position: relative;
  top:-1rem
}